.background{
   background-image: url("ss.jpg");
   height: 650px;
   width: 1350px;
   background-size: cover ;
   background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
   }
.text{
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 35px;
    margin-left: 500px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.textbg{
	background: grey;
	padding: 15px;
}
.about{
	text-align: center ;
	padding: 50px 80px;
	background-color: grey;
	font-size: 20px;
	
}
.background-2{
	background-image: url("shi.jpg");
	height: 400px;
   width: 1350px;
   background-size: cover ;
   background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.background-3{
	background-image: url("shh.jpg");
	height: 400px;
   width: 1350px;
   background-size: cover ;
   background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.background-4{
	background-image: url("sS.jpg");
	height: 600px;
   width: 1350px;
   background-size: cover ;
   background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
	